/* 
Some basic styles... 
----------------------------------------------------- */


fieldset {
    color: #ffc34d; 
	width: 70%
}


#userForm label {
  width:100px;
  float: left;
  color: black;
}

